<header>
    <div class="title"><a href="/category">EBOUTIQUE</a></div>
    <div class="user">
        <div v-if="user.user_name" class="passed">
            <!-- 已登陆 -->
            <div class="user-center">
                <span class="user-title">
                    {% raw %} {{user.user_name}} {% endraw %}
                </span>
                <ul>
                    <li>
                        <a class="v-btn link" href="/user/information">个人中心</a>
                    </li>
                    
                    <li>
                        <a class="v-btn link" href="/user/added">发布商品</a>
                    </li>
                    <li>
                        <a class="v-btn link" href="">退出登录</a>
                    </li>
                </ul>
            </div>
        </div>
        <div v-if="!user.user_name" class="passing">
            <!-- 未登录 -->
            <a class="v-btn link" href="/login">登陆</a>
            <a class="v-btn link" href="/register">注册</a>
        </div>
    </div>
    <!-- {% if search %}
    <div class="search">
        <label for="search">搜索： </label>
        <input name="search" type="text" class="v-input">
    </div>
    {% endif %} -->

</header>