<header>
    <div class="title">EBOUTIQUE</div>
    <div class="user">
            <div class="passed">
                <!-- 已登陆 -->
                <div class="user-center">
                    <span class="user-title">个人中心</span>
                    <ul>
                        <li>我的信息</li>
                        <li>我的收藏</li>
                        <li>我的订单</li>
                        <li>我的上架</li>
                        <li>购物车</li>
                    </ul>
                </div>
            </div>
            <!-- <div class="passing"> -->
                <!-- 未登录 -->
                <!-- <a class="v-btn link" href="#">登陆</a>
                <a class="v-btn link" href="#">注册</a>
            </div> -->
        </div>
    <div class="search">
        <label for="search">搜索： </label>
        <input name="search" type="text" class="v-input">
    </div>
    
</header>