{% extends 'views/frontend/common/layout.html' %}
{% block head %}
    <link rel="stylesheet" href="/dist/frontend/userorder/bundle.css">
{% endblock %}
{% block body %}
    <div id="container">
        {% include 'views/frontend/common/header.html' %} {% raw %}
        <div class="item" v-for="(item, index) in orderList" :key="index">
            <div class="item-header">
                <div class="header-time">下单时间：{{item.create_date | date}}</div>
                <div class="header-order">订单号：{{item.order_id}}</div>
            </div>
            <div class="item-body">
                <div class="item-img">
                    <img v-if="item.pro_img !== null" :src="item.pro_img" onerror="this.src='/images/1.jpg'" alt="">
                </div>
                <div class="item-info">
                    <div class="info-title">
                        {{item.pro_title}}
                    </div>
                    <div class="info-price">
                        <div>原&nbsp;&nbsp;&nbsp;&nbsp;价：￥{{item.original_price}}</div>
                        <div>成交价：<span>￥{{item.pro_price}}</span></div>
                    </div>
                    <div class="info-status" :class="item.trade_status | statusClass">
                        订单状态：<span>{{item.trade_status | status}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="item" v-for="(item, index) in productList" :key="index">
            <div class="item-header">
                <div class="header-status"></div>
                <div class="header-date"></div>
            </div>
            <div class="item-body">
                <div class="body-info">
                    <div class="info-title"></div>
                    <div class="info-order"></div>
                </div>
                <div class="body-img"></div>
            </div>
        </div> -->
        {% endraw %}
        {% include 'views/frontend/common/footer.html' %}
    </div>

    <script src="/dist/frontend/userorder/bundle.js"></script>
{% endblock %}