{% extends 'views/frontend/common/layout.html' %}
{% block head %}
    <link rel="stylesheet" href="/dist/frontend/userputaway/bundle.css">
{% endblock %}
{% block body %}
    <div id="container">
        {% include 'views/frontend/common/header.html' %}

        {% include 'views/frontend/user/_slide.html' %}
        <div class="user-content">
            <form action="">
                <div class="input">
                    <label for="">商品品牌</label>
                    <input type="text">
                </div>
                <div class="input">
                    <label for="">商品名称</label>
                    <input type="text">
                </div>
                <div class="input">
                    <label for="">商品分类</label>
                    <input type="text">
                </div>
                <div class="input">
                    <label for="">商品简介</label>
                    <input type="text">
                </div>
                <div class="input">
                    <label for="">商品详情</label>
                    <input type="text">
                </div>
                <div class="input">
                    <label for="">商品原价</label>
                    <input type="text">
                </div>
                <div class="input">
                    <label for="">商品标价</label>
                    <input type="text">
                </div>
                <div class="input">
                    <label for="">商品编码</label>
                    <input type="text">
                </div>
                <div class="input">
                    <label for="">是否损坏</label>
                    <input type="checkbox">
                </div>
            </form>
        </div>
        {% include 'views/frontend/common/footer.html' %}
    </div>

    <script src="/dist/frontend/userputaway/bundle.js"></script>
{% endblock %}