 {% extends 'views/frontend/common/layout.html' %} {% block head %}
<link rel="stylesheet" href="/common/css/bootstrap.min.css">
<link rel="stylesheet" href="/dist/frontend/register/bundle.css"> {% endblock %} {% block body %}
<div class="form sign">
    <form>
        <div class="form-title">注册</div>
        <div class="form-tip">
            <a href="/login">
                登录
            </a>
        </div>
        <div class="form-group">
            <label for="userName">用户名</label>
            <input v-model="userName" type="text" class="form-control" name="userName" aria-describedby="emailHelp" placeholder="UserName">
        </div>
        <div class="form-group">
            <label for="userPhone">手机号</label>
            <input v-model="userPhone" type="phone" class="form-control" name="userPhone" placeholder="Phone Number">
        </div>
        <div class="form-group">
            <label for="userPassword">密码</label>
            <input v-model="userPass" type="password" class="form-control" name="userPassword" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="userPassword">重复密码</label>
            <input v-model="userPasswordRepeat" type="password" class="form-control" name="userPasswordRepeat" placeholder="Password Repeat">
        </div>

        <button @click="submit" type="button" class="btn btn-primary">提交</button>
    </form>
</div>
<script src="/dist/frontend/register/bundle.js"></script> {% endblock %}