html, body {
    height: 100%;
    width: 100%
}

body {
    background: url('/images/boutique.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    text-align: center;
    .form-group {
        text-align: left
    }
    .form-tip {
        text-align: right;
        a {

        }
    }
}