#content {
    position: fixed;
    left: 200px;
    top: 50px;
    bottom: 0;
    right: 0;
    overflow: scroll;
    table tbody tr td:nth-child(4) {
        width: 60%
    }

    .form {
        border-radius: 10px;
        border: 1px solid #d2d2d2;
        background: #eee;
        padding: 10px;
    }

    header {
        a {
            color: #fff
        }
    }
}