<form class="v-form">
    <div class="" v-if="options.tip">{{options.tip}}</div>
    <input type="hidden" v-for="(item, index) in options.key_id" :key="item.key_id">
    <div class="form-group" v-for="(item, index) in options.input_list" :key="item.header">
        <label :for="item.header">{{item.label}}</label>
        <input :type="item.type" class="form-control" :id="item.header" :placeholder="item.placeholder" v-model="item.value">
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group" v-for="(item, index) in options.textarea_list" :key="item.header">
        <label :for="item.header">{{item.label}}</label>
        <textarea class="form-control" :id="item.header" :rows="item.rows" v-model="item.value" :placeholder="item.placeholder"></textarea>
    </div>
    <div class="form-group form-check" v-for="(item, index) in options.check_list" :key="item.header">
        <input type="checkbox" class="form-check-input" :id="item.header" v-model="item.value">
        <label class="form-check-label" :for="item.header">{{item.label}}</label>
    </div>
    <button v-if="options.button" @click="click" type="button" class="btn btn-primary">{{options.button.label}}</button>
</form>