html {
    height: 100%;
    width: 100%
}

body {
    height: 100%;
    width: 100%
}

#admin {
    height: 100%;
    width: 100%
}

header {
    position: fixed;
    height: 50px;
    width: 100%;
    background: #f8f8f8;
    border: #e7e7e7;
}

header > div {
    display: inline-block
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

.header-right > ul > li {
    display: inline-block
}

#slide {
    position: fixed;
    top: 50px;
    background: #e7e7e7;
    width: 200px;
    height: 100%;
}

#slide > ul > li {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #eee
}

#slide > ul > li.active {
    background: #d3cece
}
