<div class="v-table">
  <h3>{{title}}</h3>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th>#</th>
        <th v-for="(thead, index) in theadList" :key="index">{{thead.text}}</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(trow, trowIndex) in trowList">
        <th scope="row">{{ trowIndex + 1 }}</th>
        <td v-for="(thead, tdataIndex) in theadList">
          {{trow[thead.header]}}
        </td>
        <td>
          <a @click="_showPop(trow)" href="javascript:void(0);">编辑</a>
          <a @click="_deleteItem(trowIndex)" href="javascript:void(0);">删除</a>
        </td>
      </tr>

    </tbody>
  </table>
</div>