<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/common/css/normalize.css">
    <link rel="stylesheet" href="/common/css/normal.css">
    <link rel="stylesheet" href="/common/css/vue.css">
    <link rel="stylesheet" href="/dist/frontend/home/bundle.css">
    <script src="/common/js/jquery-3.2.1.min.js"></script>
    <script src="/common/js/vue.min.js"></script>
    <script src="/common/js/common.js"></script>
    <title>EBOUTIQUE</title>
</head>
<body>
    <header>
        <div class="header-intro">
            <div class="header-title">EBOUTIQUE</div>
            <div class="header-subtitle">SUBTITLE</div>
        </div>
    </header>
    <div class="container">
        <div id="div">
            <v-btn :options="actions"></v-btn>
            
        </div>

        <div class=""></div>
    </div>
    <footer>
        <div>奢侈品二手交易平台</div>
        <div>品牌导航论坛方式</div>
    </footer>
    <script src="/dist/frontend/home/bundle.js"></script>
</body>
</html>