{% extends 'views/frontend/common/layout.html' %} {% block head %}
<link rel="stylesheet" href="/dist/frontend/product/bundle.css"> {% endblock %} {% block body %}
<div id="container">

    {% include 'views/frontend/common/header.html' %} {% raw %}
    <div class="item">
        <div class="item-title">
            用户信息
        </div>
        <div class="user-info">
            <div class="user-img">
                <img src="" onerror="this.src='/images/head.png'" alt="头像">
            </div>
            <div class="user-detail">
                <div class="user-name">{{product.user_name}}</div>
                <div class="user-phone">{{product.user_phone}}</div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="item-title">
            品牌信息
        </div>
        <div class="category-info">
            <div class="category-title">
                品牌名称：{{product.brand_name}}
            </div>
            <div class="category-intro">
                品牌介绍：{{product.brand_intro}}
            </div>
        </div>
    </div>
    <div class="item">
        <div class="item-title">
            商品信息
        </div>
        <div class="product-info">
            <div class="product-title">
                商品名称：{{product.pro_title}}
            </div>
            <div class="product-subtitle">
                商品简介：{{product.pro_subtitle}}
            </div>
            <div class="product-detail">
                商品详情：{{product.pro_detail}}
            </div>
        </div>
    </div>
    <div class="item">
        <div class="item-title">
            商品图片
        </div>
        <div class="product-img">
            <img v-if="product.pro_img !== null" :src="product.pro_img" onerror="this.src='/images/1.jpg'"  alt="图片">
        </div>
    </div>
    <div class="buy">
        立即购买
    </div>
    {% endraw %}

</div>
<script src="/dist/frontend/product/bundle.js"></script> {% endblock %}