{% extends 'views/backend/common/layout.html' %} {% block head %}
<link rel="stylesheet" href="/dist/backend/index/bundle.css"> {% endblock %} {% block body %}


<div id="admin">
    <v-header></v-header>
    <v-slide :slide_index="slide_index" :slide_list="slide_list" @toggle_slide="toggleSlide"></v-slide>

    {% raw %}

    <div id="content">
        <category v-if="slide_index === 0" class="content">
        </category>
        <div v-if="slide_index === 1" class="content">
            审核设置
        </div>
        <div v-if="slide_index === 2" class="content">
            数据分析
        </div>

    </div>

    {% endraw %}

</div>



<script src="/dist/backend/index/bundle.js"></script> {% endblock %}